@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&display=swap");

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("montserrat/montserratbold.woff2") format("woff2"),
    url("montserrat//montserratbold.woff") format("woff"),
    url("montserrat//montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("montserrat//montserratblack.woff2") format("woff2"),
    url("montserrat//montserratblack.woff") format("woff"),
    url("montserrat//montserratblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
}

body,
ul {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  color: #455165;
  line-height: 0.8cm;
}

h1 {
  font-size: 28px;
}
h3 {
  color: #334a5a;
  line-height: 0.8cm;
}
h4 {
  color: #334a5a;
}

p {
  color: #9ca2ac;
  line-height: 0.2cm;
}

.letter {
  color: #fa5c65;
  font-size: 110%;
  line-height: 0cm;
  font-family: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-image: url("img/bg-header.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}
.article,
.header {
  max-width: 950px;
  margin: -2px auto 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  flex-wrap: wrap;
  bac
}

.header__menu,
.header__social {
  display: flex;
}

.header__nav {
  margin: 0 5px 0 auto;
}

.header__link {
  display: block;
  padding: 10px 20px;
  color: #030506;
  text-transform: uppercase;
  font-weight: 600;
}
.header__link:hover {
  text-decoration: underline;
}
.header__facebook-img {
  margin: 0 14px;
}
.article__title {
  font-size: 44px;
  color: #2e475b;
  line-height: 1.3cm;
  max-width: 540px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.article {
  margin-top: 310px;
}
.article__desc {
  margin: 24px auto 45px auto;
  font-size: 20px;
  color: #2e475b;
}
.article__btn {
  font-size: 15px;
  padding: 22px 35px;
  background: #fa5c65;
  border: none;
  border-radius: 11px;
  color: #fff;
  font-weight: bold;
}
.article__btn:hover {
  background: #852e33;
}
.news {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 500px auto 0 auto;
  font-size: 18px;
  justify-content: space-between;
}

.news__4 {
  display: block;
  font-size: 30px;
  float: left;
  margin: .5em 10px .5em 0;
  overflow: hidden;
}
.news__5 {
  margin: 85px 30px;
}
.news__5 p {
  width: 400px;
  height: auto;
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 40px;
}
.icon__more {
  color: #fa5c65;
}
.team {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0 auto;
  font-size: 18px;
  justify-content: space-between;
}
.avatar {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}
.icon__mr {
  margin-top: 60px;
  margin-left: auto;
}
.line {
  width: 1000px;
  margin: 30px auto;
  border-color: #ffffff70;
}

.footer {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 65px auto;
  align-items: center;
}
.foter__text {
  font-size: 18px;
  color: #9ca2ac;
  margin-left: auto;
}
.foter__icon {
  padding: 0 15px;
  color:#9ca2ac;
}
/* Fixed by Sergei S. */
.header__twitter-icon,
.header__facebook-icon
{
    font-size: 20px;
    color: #fa5c65;
}
.header__twitter-icon {
    margin-right: 10px;
}
.header__facebook-icon {
    margin-left: 10px;
}
.header__logo {
    display: flex;
    width: 140px;
    height: 74px;
    background-color: #fa5c65;
    border-radius: 0 0 11px 11px;
    align-items: flex-end;
    justify-content: center;
}
.header__logo-text,
.header__logo-dot {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}
.header__logo-dot {
    color: #2e475b;
    margin-left: 1px;
}
.news__1 p,
.news__2 p,
.news__3 p
 {
    width: 300px;
    height: auto;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 30px;
}
.news__1 h2,
.news__2 h2,
.news__3 h2 {
  margin-top: 0;
}
.icon__dot {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.icon__arrow {
    font-size: 14px;
}
.news__macbook-img {
    margin: 80px 0px -35px -115px;
}
.our_team {
  margin-bottom: 15px;
}
.our_team p {
  font-size: 20px;
}
.photo {
  border-radius: 50%;
}
.avatar__inform {
  width: 187px;
  height: auto;
}
.avatar__info {
  margin: 0;
}
.avatar__inform p {
  line-height: 25px;
  font-size: 20px;
}
.avatar__inform h2 {
  margin: 0;
}
.avatar__rank {
  font-weight: bold;
  color: #fa5c65;
  margin: 5px 0 10px 0;
}